## Funciones de Agrupación y Agregación

In [88]:
import pandas as pd
import numpy as np

In [89]:
df=pd.read_csv("homelessness.csv",index_col=0)

In [90]:
df.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [91]:
len(df.index) #nos da el numero el registros

51

In [92]:
# Borrar las filas que tienen misssing
df.dropna(inplace=True)

In [93]:
len(df.index)

51

In [94]:
# Borrar filas con valores duplicados
df.drop_duplicates(inplace=True)

In [95]:
len(df.index)

51

In [96]:
df.head() # 5 primeros

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [97]:
df.tail() # 5 ultimos

                region          state  individuals  family_members  state_pop
46      South Atlantic       Virginia       3928.0          2047.0    8501286
47             Pacific     Washington      16424.0          5880.0    7523869
48      South Atlantic  West Virginia       1021.0           222.0    1804291
49  East North Central      Wisconsin       2740.0          2167.0    5807406
50            Mountain        Wyoming        434.0           205.0     577601

In [98]:
# Visualizacionn de los valores del dataframe
df.values

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

In [99]:
# Estructura del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

In [100]:
#Calculamos las estadisticas descriptivas del dataframe ( muestra las columnas numericas)
df.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [101]:
# Dimensiones del datafram #filas y #columnas 
df.shape

(51, 5)

In [102]:
print(df.columns)

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [103]:
print(df.index)

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')

In [104]:
df.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [105]:
# ordenamiento de columnas de menor a mayor
df.sort_values("individuals").head()

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

In [106]:
# ordenamiento ascendente
df_individuals_asc=df.sort_values("individuals",ascending=True).head()

In [107]:
df_individuals_asc.head()

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

In [108]:
# ordenamiento descendente
df_individuals_desc=df.sort_values("individuals",ascending=False)

In [109]:
df_individuals_desc.head()

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
9       South Atlantic     Florida      21443.0          9587.0   21244317
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [110]:
#ordenar por mas de una columna
df_region_familia=df.sort_values(["region","family_members","state_pop","individuals"],ascending=[True,False,True,False])

In [111]:
df_region_familia.head(15)

                region         state  individuals  family_members  state_pop
13  East North Central      Illinois       6752.0          3891.0   12723071
35  East North Central          Ohio       6929.0          3320.0   11676341
22  East North Central      Michigan       5209.0          3142.0    9984072
49  East North Central     Wisconsin       2740.0          2167.0    5807406
14  East North Central       Indiana       3776.0          1482.0    6695497
42  East South Central     Tennessee       6139.0          1744.0    6771631
17  East South Central      Kentucky       2735.0           953.0    4461153
0   East South Central       Alabama       2570.0           864.0    4887681
24  East South Central   Mississippi       1024.0           328.0    2981020
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922
30        Mid-Atlantic    New Jersey       6048.0          3350.0    8886025
5             Mountain      Colorado       7607.0          3250.0    5691287
2             Mountain       Arizona       7259.0          2606.0    7158024
44            Mountain          Utah       1904.0           972.0    3153550

In [112]:
# Seleccion de una columna y guardarla en un dataframe
df_1_columna=df["individuals"]
df_1_columna.head()

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

In [113]:
%whos

Variable              Type         Data/Info
--------------------------------------------
aux                   DataFrame                             <...>Central        3.158868
df                    DataFrame                    region   <...>807406  \n50     577601
df_1_columna          Series       0       2570.0\n1       1<...>dividuals, dtype: float64
df_2_columnas         DataFrame        individuals          <...>4.0               Wyoming
df_2_filtros          DataFrame        region   state  indiv<...>         582.0     735139
df_2_regiones         DataFrame                region       <...>804291  \n50     577601
df_enc                DataFrame                    region   <...> 4907.0        0.558386
df_filtrarestados     DataFrame          region       state <...>         972.0    3153550
df_filtromayor10k     DataFrame                    region   <...>        5880.0    7523869
df_individuals_asc    DataFrame                    region   <...>         511.0     624358
df_individuals_desc   DataFrame                    region   <...>758080  \n50     577601
df_region             DataFrame          region       state <...>         205.0     577601
df_region_familia     DataFrame                    region   <...>659690  \n3     3009733
lista                 list         n=4
np                    module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd                    module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [114]:
# Guardar 2 columnas
df_2_columnas=df[["state","family_members"]]
df_2_columnas.head()

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

In [115]:
%whos

Variable              Type         Data/Info
--------------------------------------------
aux                   DataFrame                             <...>Central        3.158868
df                    DataFrame                    region   <...>807406  \n50     577601
df_1_columna          Series       0       2570.0\n1       1<...>dividuals, dtype: float64
df_2_columnas         DataFrame                       state <...>  Wyoming           205.0
df_2_filtros          DataFrame        region   state  indiv<...>         582.0     735139
df_2_regiones         DataFrame                region       <...>804291  \n50     577601
df_enc                DataFrame                    region   <...> 4907.0        0.558386
df_filtrarestados     DataFrame          region       state <...>         972.0    3153550
df_filtromayor10k     DataFrame                    region   <...>        5880.0    7523869
df_individuals_asc    DataFrame                    region   <...>         511.0     624358
df_individuals_desc   DataFrame                    region   <...>758080  \n50     577601
df_region             DataFrame          region       state <...>         205.0     577601
df_region_familia     DataFrame                    region   <...>659690  \n3     3009733
lista                 list         n=4
np                    module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd                    module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [116]:
# seleccion de 2 columnas
df_2_columnas=df[["individuals","state"]]
df_2_columnas.head()

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

In [117]:
# Filtros / Condicional
df_filtromayor10k=df[df["individuals"]>10000]
df_filtromayor10k

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [118]:
# Condicional a la columna region
df_region=df[df["region"]=="Mountain"]
df_region

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [119]:
# Condicional con operador
df_2_filtros=df[(df["region"]=="Pacific") & (df["family_members"]<1000)]
df_2_filtros

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

In [120]:
df_2_regiones=df[(df["region"]=="South Atlantic") | (df["region"]=="Mid-Atlantic") | (df["region"]=="Mountain")]
df_2_regiones

,region,state,individuals,family_members,state_pop
2,Mountain,Arizona,7259.0,2606.0,7158024
5,Mountain,Colorado,7607.0,3250.0,5691287
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131
12,Mountain,Idaho,1297.0,715.0,1750536
20,South Atlantic,Maryland,4914.0,2230.0,6035802
26,Mountain,Montana,983.0,422.0,1060665
28,Mountain,Nevada,7058.0,486.0,3027341
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,Mountain,New Mexico,1949.0,602.0,2092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
40,South Atlantic,South Carolina,3082.0,851.0,5084156
44,Mountain,Utah,1904.0,972.0,3153550
46,South Atlantic,Virginia,3928.0,2047.0,8501286
48,South Atlantic,West Virginia,1021.0,222.0,1804291
50,Mountain,Wyoming,434.0,205.0,577601

In [121]:
lista = ["California","Nevada","Arizona","Utah"]
df_filtrarestados=df[df["state"].isin(lista)]
df_filtrarestados

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

In [122]:
# Creacion de una columna
df["total"]=df["individuals"]+df["family_members"]
df.head()

,region,state,individuals,family_members,state_pop,total
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0
1,Pacific,Alaska,1434.0,582.0,735139,2016.0
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0
4,Pacific,California,109008.0,20964.0,39461588,129972.0

In [123]:
df["pc_individuals"]=df["individuals"]/df["total"]
df.head()

,region,state,individuals,family_members,state_pop,total,pc_individuals
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.748398
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.711310
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.735834
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.840708
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704

## Agregaciones

In [124]:
df.groupby('region')

In [125]:
aux=df.groupby('region').sum()
aux

,state,individuals,family_members,state_pop,total,pc_individuals
region,,,,,,
East North Central,IllinoisIndianaMichiganOhioWisconsin,25406.0,14002.0,46886387,39408.0,3.210761
East South Central,AlabamaKentuckyMississippiTennessee,12468.0,3889.0,19101485,16357.0,3.026154
Mid-Atlantic,New JerseyNew YorkPennsylvania,54038.0,60769.0,41217298,114807.0,1.681058
Mountain,ArizonaColoradoIdahoMontanaNevadaNew MexicoUta...,28491.0,9258.0,24511745,37749.0,5.821573
New England,ConnecticutMaineMassachusettsNew HampshireRhod...,12903.0,17499.0,14829322,30402.0,3.347667
Pacific,AlaskaCaliforniaHawaiiOregonWashington,142136.0,33162.0,53323075,175298.0,3.688483
South Atlantic,DelawareDistrict of ColumbiaFloridaGeorgiaMary...,52260.0,23818.0,65229624,76078.0,6.268696
West North Central,IowaKansasMinnesotaMissouriNebraskaNorth Dakot...,13971.0,8242.0,21350241,22213.0,4.770433
West South Central,ArkansasLouisianaOklahomaTexas,26842.0,8110.0,40238324,34952.0,3.158868

In [126]:
df.groupby('region')[["state_pop"]].median()

                     state_pop
region
East North Central   9984072.0
East South Central   4674417.0
Mid-Atlantic        12800922.0
Mountain             2560041.0
New England          1346261.0
Pacific              4181886.0
South Atlantic       6035802.0
West North Central   2911359.0
West South Central   4299962.5

In [127]:
df.groupby('region')[["individuals"]].median()

                    individuals
region
East North Central       5209.0
East South Central       2652.5
Mid-Atlantic             8163.0
Mountain                 1926.5
New England              1142.5
Pacific                 11139.0
South Atlantic           3928.0
West North Central       1711.0
West South Central       2681.5

In [128]:
df.groupby('region')[["individuals"]].aggregate(["std","var"])

                     individuals
                             std           var
region
East North Central   1830.780899  3.351759e+06
East South Central   2157.024648  4.652755e+06
Mid-Atlantic        18921.341399  3.580172e+08
Mountain             3143.438288  9.881204e+06
New England          2358.234658  5.561271e+06
Pacific             45428.961519  2.063791e+09
South Atlantic       6234.965998  3.887480e+07
West North Central   1371.731561  1.881647e+06
West South Central   8328.619113  6.936590e+07

In [129]:
df.groupby(['region','state']).aggregate(['min', 'median', 'max'])

                                        individuals                      \
                                                min    median       max
region             state
East North Central Illinois                  6752.0    6752.0    6752.0
                   Indiana                   3776.0    3776.0    3776.0
                   Michigan                  5209.0    5209.0    5209.0
                   Ohio                      6929.0    6929.0    6929.0
                   Wisconsin                 2740.0    2740.0    2740.0
East South Central Alabama                   2570.0    2570.0    2570.0
                   Kentucky                  2735.0    2735.0    2735.0
                   Mississippi               1024.0    1024.0    1024.0
                   Tennessee                 6139.0    6139.0    6139.0
Mid-Atlantic       New Jersey                6048.0    6048.0    6048.0
                   New York                 39827.0   39827.0   39827.0
                   Pennsylvania              8163.0    8163.0    8163.0
Mountain           Arizona                   7259.0    7259.0    7259.0
                   Colorado                  7607.0    7607.0    7607.0
                   Idaho                     1297.0    1297.0    1297.0
                   Montana                    983.0     983.0     983.0
                   Nevada                    7058.0    7058.0    7058.0
                   New Mexico                1949.0    1949.0    1949.0
                   Utah                      1904.0    1904.0    1904.0
                   Wyoming                    434.0     434.0     434.0
New England        Connecticut               2280.0    2280.0    2280.0
                   Maine                     1450.0    1450.0    1450.0
                   Massachusetts             6811.0    6811.0    6811.0
                   New Hampshire              835.0     835.0     835.0
                   Rhode Island               747.0     747.0     747.0
                   Vermont                    780.0     780.0     780.0
Pacific            Alaska                    1434.0    1434.0    1434.0
                   California              109008.0  109008.0  109008.0
                   Hawaii                    4131.0    4131.0    4131.0
                   Oregon                   11139.0   11139.0   11139.0
                   Washington               16424.0   16424.0   16424.0
South Atlantic     Delaware                   708.0     708.0     708.0
                   District of Columbia      3770.0    3770.0    3770.0
                   Florida                  21443.0   21443.0   21443.0
                   Georgia                   6943.0    6943.0    6943.0
                   Maryland                  4914.0    4914.0    4914.0
                   North Carolina            6451.0    6451.0    6451.0
                   South Carolina            3082.0    3082.0    3082.0
                   Virginia                  3928.0    3928.0    3928.0
                   West Virginia             1021.0    1021.0    1021.0
West North Central Iowa                      1711.0    1711.0    1711.0
                   Kansas                    1443.0    1443.0    1443.0
                   Minnesota                 3993.0    3993.0    3993.0
                   Missouri                  3776.0    3776.0    3776.0
                   Nebraska                  1745.0    1745.0    1745.0
                   North Dakota               467.0     467.0     467.0
                   South Dakota               836.0     836.0     836.0
West South Central Arkansas                  2280.0    2280.0    2280.0
                   Louisiana                 2540.0    2540.0    2540.0
                   Oklahoma                  2823.0    2823.0    2823.0
                   Texas                    19199.0   19199.0   19199.0

                                        family_members                    \
                                                   min   median      max
region             state
East North Central Illinois                     3891.0   3891.0   3891.0
                   Indiana                      1482.0   1482.0   1482.0
                   Michigan                     3142.0   3142.0   3142.0
                   Ohio                         3320.0   3320.0   3320.0
                   Wisconsin                    2167.0   2167.0   2167.0
East South Central Alabama                       864.0    864.0    864.0
                   Kentucky                      953.0    953.0    953.0
                   Mississippi                   328.0    328.0    328.0
                   Tennessee                    1744.0   1744.0   1744.0
Mid-Atlantic       New Jersey                   3350.0   3350.0   3350.0
                   New York                    52070.0  52070.0  52070.0
                   Pennsylvania                 5349.0   5349.0   5349.0
Mountain           Arizona                      2606.0   2606.0   2606.0
                   Colorado                     3250.0   3250.0   3250.0
                   Idaho                         715.0    715.0    715.0
                   Montana                       422.0    422.0    422.0
                   Nevada                        486.0    486.0    486.0
                   New Mexico                    602.0    602.0    602.0
                   Utah                          972.0    972.0    972.0
                   Wyoming                       205.0    205.0    205.0
New England        Connecticut                  1696.0   1696.0   1696.0
                   Maine                        1066.0   1066.0   1066.0
                   Massachusetts               13257.0  13257.0  13257.0
                   New Hampshire                 615.0    615.0    615.0
                   Rhode Island                  354.0    354.0    354.0
                   Vermont                       511.0    511.0    511.0
Pacific            Alaska                        582.0    582.0    582.0
                   California                  20964.0  20964.0  20964.0
                   Hawaii                       2399.0   2399.0   2399.0
                   Oregon                       3337.0   3337.0   3337.0
                   Washington                   5880.0   5880.0   5880.0
South Atlantic     Delaware                      374.0    374.0    374.0
                   District of Columbia         3134.0   3134.0   3134.0
                   Florida                      9587.0   9587.0   9587.0
                   Georgia                      2556.0   2556.0   2556.0
                   Maryland                     2230.0   2230.0   2230.0
                   North Carolina               2817.0   2817.0   2817.0
                   South Carolina                851.0    851.0    851.0
                   Virginia                     2047.0   2047.0   2047.0
                   West Virginia                 222.0    222.0    222.0
West North Central Iowa                         1038.0   1038.0   1038.0
                   Kansas                        773.0    773.0    773.0
                   Minnesota                    3250.0   3250.0   3250.0
                   Missouri                     2107.0   2107.0   2107.0
                   Nebraska                      676.0    676.0    676.0
                   North Dakota                   75.0     75.0     75.0
                   South Dakota                  323.0    323.0    323.0
West South Central Arkansas                      432.0    432.0    432.0
                   Louisiana                     519.0    519.0    519.0
                   Oklahoma                     1048.0   1048.0   1048.0
                   Texas                        6111.0   6111.0   6111.0

                                        state_pop                        \
                                              min      median       max
region             state
East North Central Illinois              12723071  12723071.0  12723071
                   Indiana                6695497   6695497.0   6695497
                   Michigan               9984072   9984072.0   9984072
                   Ohio                  11676341  11676341.0  11676341
                   Wisconsin              5807406   5807406.0   5807406
East South Central Alabama                4887681   4887681.0   4887681
                   Kentucky               4461153   4461153.0   4461153
                   Mississippi            2981020   2981020.0   2981020
                   Tennessee              6771631   6771631.0   6771631
Mid-Atlantic       New Jersey             8886025   8886025.0   8886025
                   New York              19530351  19530351.0  19530351
                   Pennsylvania          12800922  12800922.0  12800922
Mountain           Arizona                7158024   7158024.0   7158024
                   Colorado               5691287   5691287.0   5691287
                   Idaho                  1750536   1750536.0   1750536
                   Montana                1060665   1060665.0   1060665
                   Nevada                 3027341   3027341.0   3027341
                   New Mexico             2092741   2092741.0   2092741
                   Utah                   3153550   3153550.0   3153550
                   Wyoming                 577601    577601.0    577601
New England        Connecticut            3571520   3571520.0   3571520
                   Maine                  1339057   1339057.0   1339057
                   Massachusetts          6882635   6882635.0   6882635
                   New Hampshire          1353465   1353465.0   1353465
                   Rhode Island           1058287   1058287.0   1058287
                   Vermont                 624358    624358.0    624358
Pacific            Alaska                  735139    735139.0    735139
                   California            39461588  39461588.0  39461588
                   Hawaii                 1420593   1420593.0   1420593
                   Oregon                 4181886   4181886.0   4181886
                   Washington             7523869   7523869.0   7523869
South Atlantic     Delaware                965479    965479.0    965479
                   District of Columbia    701547    701547.0    701547
                   Florida               21244317  21244317.0  21244317
                   Georgia               10511131  10511131.0  10511131
                   Maryland               6035802   6035802.0   6035802
                   North Carolina        10381615  10381615.0  10381615
                   South Carolina         5084156   5084156.0   5084156
                   Virginia               8501286   8501286.0   8501286
                   West Virginia          1804291   1804291.0   1804291
West North Central Iowa                   3148618   3148618.0   3148618
                   Kansas                 2911359   2911359.0   2911359
                   Minnesota              5606249   5606249.0   5606249
                   Missouri               6121623   6121623.0   6121623
                   Nebraska               1925614   1925614.0   1925614
                   North Dakota            758080    758080.0    758080
                   South Dakota            878698    878698.0    878698
West South Central Arkansas               3009733   3009733.0   3009733
                   Louisiana              4659690   4659690.0   4659690
                   Oklahoma               3940235   3940235.0   3940235
                   Texas                 28628666  28628666.0  28628666

                                            total                      \
                                              min    median       max
region             state
East North Central Illinois               10643.0   10643.0   10643.0
                   Indiana                 5258.0    5258.0    5258.0
                   Michigan                8351.0    8351.0    8351.0
                   Ohio                   10249.0   10249.0   10249.0
                   Wisconsin               4907.0    4907.0    4907.0
East South Central Alabama                 3434.0    3434.0    3434.0
                   Kentucky                3688.0    3688.0    3688.0
                   Mississippi             1352.0    1352.0    1352.0
                   Tennessee               7883.0    7883.0    7883.0
Mid-Atlantic       New Jersey              9398.0    9398.0    9398.0
                   New York               91897.0   91897.0   91897.0
                   Pennsylvania           13512.0   13512.0   13512.0
Mountain           Arizona                 9865.0    9865.0    9865.0
                   Colorado               10857.0   10857.0   10857.0
                   Idaho                   2012.0    2012.0    2012.0
                   Montana                 1405.0    1405.0    1405.0
                   Nevada                  7544.0    7544.0    7544.0
                   New Mexico              2551.0    2551.0    2551.0
                   Utah                    2876.0    2876.0    2876.0
                   Wyoming                  639.0     639.0     639.0
New England        Connecticut             3976.0    3976.0    3976.0
                   Maine                   2516.0    2516.0    2516.0
                   Massachusetts          20068.0   20068.0   20068.0
                   New Hampshire           1450.0    1450.0    1450.0
                   Rhode Island            1101.0    1101.0    1101.0
                   Vermont                 1291.0    1291.0    1291.0
Pacific            Alaska                  2016.0    2016.0    2016.0
                   California            129972.0  129972.0  129972.0
                   Hawaii                  6530.0    6530.0    6530.0
                   Oregon                 14476.0   14476.0   14476.0
                   Washington             22304.0   22304.0   22304.0
South Atlantic     Delaware                1082.0    1082.0    1082.0
                   District of Columbia    6904.0    6904.0    6904.0
                   Florida                31030.0   31030.0   31030.0
                   Georgia                 9499.0    9499.0    9499.0
                   Maryland                7144.0    7144.0    7144.0
                   North Carolina          9268.0    9268.0    9268.0
                   South Carolina          3933.0    3933.0    3933.0
                   Virginia                5975.0    5975.0    5975.0
                   West Virginia           1243.0    1243.0    1243.0
West North Central Iowa                    2749.0    2749.0    2749.0
                   Kansas                  2216.0    2216.0    2216.0
                   Minnesota               7243.0    7243.0    7243.0
                   Missouri                5883.0    5883.0    5883.0
                   Nebraska                2421.0    2421.0    2421.0
                   North Dakota             542.0     542.0     542.0
                   South Dakota            1159.0    1159.0    1159.0
West South Central Arkansas                2712.0    2712.0    2712.0
                   Louisiana               3059.0    3059.0    3059.0
                   Oklahoma                3871.0    3871.0    3871.0
                   Texas                  25310.0   25310.0   25310.0

                                        pc_individuals
                                                   min    median       max
region             state
East North Central Illinois                   0.634408  0.634408  0.634408
                   Indiana                    0.718144  0.718144  0.718144
                   Michigan                   0.623758  0.623758  0.623758
                   Ohio                       0.676066  0.676066  0.676066
                   Wisconsin                  0.558386  0.558386  0.558386
East South Central Alabama                    0.748398  0.748398  0.748398
                   Kentucky                   0.741594  0.741594  0.741594
                   Mississippi                0.757396  0.757396  0.757396
                   Tennessee                  0.778764  0.778764  0.778764
Mid-Atlantic       New Jersey                 0.643541  0.643541  0.643541
                   New York                   0.433387  0.433387  0.433387
                   Pennsylvania               0.604130  0.604130  0.604130
Mountain           Arizona                    0.735834  0.735834  0.735834
                   Colorado                   0.700654  0.700654  0.700654
                   Idaho                      0.644632  0.644632  0.644632
                   Montana                    0.699644  0.699644  0.699644
                   Nevada                     0.935578  0.935578  0.935578
                   New Mexico                 0.764014  0.764014  0.764014
                   Utah                       0.662031  0.662031  0.662031
                   Wyoming                    0.679186  0.679186  0.679186
New England        Connecticut                0.573441  0.573441  0.573441
                   Maine                      0.576312  0.576312  0.576312
                   Massachusetts              0.339396  0.339396  0.339396
                   New Hampshire              0.575862  0.575862  0.575862
                   Rhode Island               0.678474  0.678474  0.678474
                   Vermont                    0.604183  0.604183  0.604183
Pacific            Alaska                     0.711310  0.711310  0.711310
                   California                 0.838704  0.838704  0.838704
                   Hawaii                     0.632619  0.632619  0.632619
                   Oregon                     0.769481  0.769481  0.769481
                   Washington                 0.736370  0.736370  0.736370
South Atlantic     Delaware                   0.654344  0.654344  0.654344
                   District of Columbia       0.546060  0.546060  0.546060
                   Florida                    0.691041  0.691041  0.691041
                   Georgia                    0.730919  0.730919  0.730919
                   Maryland                   0.687850  0.687850  0.687850
                   North Carolina             0.696051  0.696051  0.696051
                   South Carolina             0.783626  0.783626  0.783626
                   Virginia                   0.657406  0.657406  0.657406
                   West Virginia              0.821400  0.821400  0.821400
West North Central Iowa                       0.622408  0.622408  0.622408
                   Kansas                     0.651173  0.651173  0.651173
                   Minnesota                  0.551291  0.551291  0.551291
                   Missouri                   0.641849  0.641849  0.641849
                   Nebraska                   0.720777  0.720777  0.720777
                   North Dakota               0.861624  0.861624  0.861624
                   South Dakota               0.721311  0.721311  0.721311
West South Central Arkansas                   0.840708  0.840708  0.840708
                   Louisiana                  0.830337  0.830337  0.830337
                   Oklahoma                   0.729269  0.729269  0.729269
                   Texas                      0.758554  0.758554  0.758554

In [130]:
# Agregar estadísticas de agregación (mínimo, mediana, máximo) por región
df.groupby(['region','state']).aggregate(['min', 'median', 'max'])

                                        individuals                      \
                                                min    median       max
region             state
East North Central Illinois                  6752.0    6752.0    6752.0
                   Indiana                   3776.0    3776.0    3776.0
                   Michigan                  5209.0    5209.0    5209.0
                   Ohio                      6929.0    6929.0    6929.0
                   Wisconsin                 2740.0    2740.0    2740.0
East South Central Alabama                   2570.0    2570.0    2570.0
                   Kentucky                  2735.0    2735.0    2735.0
                   Mississippi               1024.0    1024.0    1024.0
                   Tennessee                 6139.0    6139.0    6139.0
Mid-Atlantic       New Jersey                6048.0    6048.0    6048.0
                   New York                 39827.0   39827.0   39827.0
                   Pennsylvania              8163.0    8163.0    8163.0
Mountain           Arizona                   7259.0    7259.0    7259.0
                   Colorado                  7607.0    7607.0    7607.0
                   Idaho                     1297.0    1297.0    1297.0
                   Montana                    983.0     983.0     983.0
                   Nevada                    7058.0    7058.0    7058.0
                   New Mexico                1949.0    1949.0    1949.0
                   Utah                      1904.0    1904.0    1904.0
                   Wyoming                    434.0     434.0     434.0
New England        Connecticut               2280.0    2280.0    2280.0
                   Maine                     1450.0    1450.0    1450.0
                   Massachusetts             6811.0    6811.0    6811.0
                   New Hampshire              835.0     835.0     835.0
                   Rhode Island               747.0     747.0     747.0
                   Vermont                    780.0     780.0     780.0
Pacific            Alaska                    1434.0    1434.0    1434.0
                   California              109008.0  109008.0  109008.0
                   Hawaii                    4131.0    4131.0    4131.0
                   Oregon                   11139.0   11139.0   11139.0
                   Washington               16424.0   16424.0   16424.0
South Atlantic     Delaware                   708.0     708.0     708.0
                   District of Columbia      3770.0    3770.0    3770.0
                   Florida                  21443.0   21443.0   21443.0
                   Georgia                   6943.0    6943.0    6943.0
                   Maryland                  4914.0    4914.0    4914.0
                   North Carolina            6451.0    6451.0    6451.0
                   South Carolina            3082.0    3082.0    3082.0
                   Virginia                  3928.0    3928.0    3928.0
                   West Virginia             1021.0    1021.0    1021.0
West North Central Iowa                      1711.0    1711.0    1711.0
                   Kansas                    1443.0    1443.0    1443.0
                   Minnesota                 3993.0    3993.0    3993.0
                   Missouri                  3776.0    3776.0    3776.0
                   Nebraska                  1745.0    1745.0    1745.0
                   North Dakota               467.0     467.0     467.0
                   South Dakota               836.0     836.0     836.0
West South Central Arkansas                  2280.0    2280.0    2280.0
                   Louisiana                 2540.0    2540.0    2540.0
                   Oklahoma                  2823.0    2823.0    2823.0
                   Texas                    19199.0   19199.0   19199.0

                                        family_members                    \
                                                   min   median      max
region             state
East North Central Illinois                     3891.0   3891.0   3891.0
                   Indiana                      1482.0   1482.0   1482.0
                   Michigan                     3142.0   3142.0   3142.0
                   Ohio                         3320.0   3320.0   3320.0
                   Wisconsin                    2167.0   2167.0   2167.0
East South Central Alabama                       864.0    864.0    864.0
                   Kentucky                      953.0    953.0    953.0
                   Mississippi                   328.0    328.0    328.0
                   Tennessee                    1744.0   1744.0   1744.0
Mid-Atlantic       New Jersey                   3350.0   3350.0   3350.0
                   New York                    52070.0  52070.0  52070.0
                   Pennsylvania                 5349.0   5349.0   5349.0
Mountain           Arizona                      2606.0   2606.0   2606.0
                   Colorado                     3250.0   3250.0   3250.0
                   Idaho                         715.0    715.0    715.0
                   Montana                       422.0    422.0    422.0
                   Nevada                        486.0    486.0    486.0
                   New Mexico                    602.0    602.0    602.0
                   Utah                          972.0    972.0    972.0
                   Wyoming                       205.0    205.0    205.0
New England        Connecticut                  1696.0   1696.0   1696.0
                   Maine                        1066.0   1066.0   1066.0
                   Massachusetts               13257.0  13257.0  13257.0
                   New Hampshire                 615.0    615.0    615.0
                   Rhode Island                  354.0    354.0    354.0
                   Vermont                       511.0    511.0    511.0
Pacific            Alaska                        582.0    582.0    582.0
                   California                  20964.0  20964.0  20964.0
                   Hawaii                       2399.0   2399.0   2399.0
                   Oregon                       3337.0   3337.0   3337.0
                   Washington                   5880.0   5880.0   5880.0
South Atlantic     Delaware                      374.0    374.0    374.0
                   District of Columbia         3134.0   3134.0   3134.0
                   Florida                      9587.0   9587.0   9587.0
                   Georgia                      2556.0   2556.0   2556.0
                   Maryland                     2230.0   2230.0   2230.0
                   North Carolina               2817.0   2817.0   2817.0
                   South Carolina                851.0    851.0    851.0
                   Virginia                     2047.0   2047.0   2047.0
                   West Virginia                 222.0    222.0    222.0
West North Central Iowa                         1038.0   1038.0   1038.0
                   Kansas                        773.0    773.0    773.0
                   Minnesota                    3250.0   3250.0   3250.0
                   Missouri                     2107.0   2107.0   2107.0
                   Nebraska                      676.0    676.0    676.0
                   North Dakota                   75.0     75.0     75.0
                   South Dakota                  323.0    323.0    323.0
West South Central Arkansas                      432.0    432.0    432.0
                   Louisiana                     519.0    519.0    519.0
                   Oklahoma                     1048.0   1048.0   1048.0
                   Texas                        6111.0   6111.0   6111.0

                                        state_pop                        \
                                              min      median       max
region             state
East North Central Illinois              12723071  12723071.0  12723071
                   Indiana                6695497   6695497.0   6695497
                   Michigan               9984072   9984072.0   9984072
                   Ohio                  11676341  11676341.0  11676341
                   Wisconsin              5807406   5807406.0   5807406
East South Central Alabama                4887681   4887681.0   4887681
                   Kentucky               4461153   4461153.0   4461153
                   Mississippi            2981020   2981020.0   2981020
                   Tennessee              6771631   6771631.0   6771631
Mid-Atlantic       New Jersey             8886025   8886025.0   8886025
                   New York              19530351  19530351.0  19530351
                   Pennsylvania          12800922  12800922.0  12800922
Mountain           Arizona                7158024   7158024.0   7158024
                   Colorado               5691287   5691287.0   5691287
                   Idaho                  1750536   1750536.0   1750536
                   Montana                1060665   1060665.0   1060665
                   Nevada                 3027341   3027341.0   3027341
                   New Mexico             2092741   2092741.0   2092741
                   Utah                   3153550   3153550.0   3153550
                   Wyoming                 577601    577601.0    577601
New England        Connecticut            3571520   3571520.0   3571520
                   Maine                  1339057   1339057.0   1339057
                   Massachusetts          6882635   6882635.0   6882635
                   New Hampshire          1353465   1353465.0   1353465
                   Rhode Island           1058287   1058287.0   1058287
                   Vermont                 624358    624358.0    624358
Pacific            Alaska                  735139    735139.0    735139
                   California            39461588  39461588.0  39461588
                   Hawaii                 1420593   1420593.0   1420593
                   Oregon                 4181886   4181886.0   4181886
                   Washington             7523869   7523869.0   7523869
South Atlantic     Delaware                965479    965479.0    965479
                   District of Columbia    701547    701547.0    701547
                   Florida               21244317  21244317.0  21244317
                   Georgia               10511131  10511131.0  10511131
                   Maryland               6035802   6035802.0   6035802
                   North Carolina        10381615  10381615.0  10381615
                   South Carolina         5084156   5084156.0   5084156
                   Virginia               8501286   8501286.0   8501286
                   West Virginia          1804291   1804291.0   1804291
West North Central Iowa                   3148618   3148618.0   3148618
                   Kansas                 2911359   2911359.0   2911359
                   Minnesota              5606249   5606249.0   5606249
                   Missouri               6121623   6121623.0   6121623
                   Nebraska               1925614   1925614.0   1925614
                   North Dakota            758080    758080.0    758080
                   South Dakota            878698    878698.0    878698
West South Central Arkansas               3009733   3009733.0   3009733
                   Louisiana              4659690   4659690.0   4659690
                   Oklahoma               3940235   3940235.0   3940235
                   Texas                 28628666  28628666.0  28628666

                                            total                      \
                                              min    median       max
region             state
East North Central Illinois               10643.0   10643.0   10643.0
                   Indiana                 5258.0    5258.0    5258.0
                   Michigan                8351.0    8351.0    8351.0
                   Ohio                   10249.0   10249.0   10249.0
                   Wisconsin               4907.0    4907.0    4907.0
East South Central Alabama                 3434.0    3434.0    3434.0
                   Kentucky                3688.0    3688.0    3688.0
                   Mississippi             1352.0    1352.0    1352.0
                   Tennessee               7883.0    7883.0    7883.0
Mid-Atlantic       New Jersey              9398.0    9398.0    9398.0
                   New York               91897.0   91897.0   91897.0
                   Pennsylvania           13512.0   13512.0   13512.0
Mountain           Arizona                 9865.0    9865.0    9865.0
                   Colorado               10857.0   10857.0   10857.0
                   Idaho                   2012.0    2012.0    2012.0
                   Montana                 1405.0    1405.0    1405.0
                   Nevada                  7544.0    7544.0    7544.0
                   New Mexico              2551.0    2551.0    2551.0
                   Utah                    2876.0    2876.0    2876.0
                   Wyoming                  639.0     639.0     639.0
New England        Connecticut             3976.0    3976.0    3976.0
                   Maine                   2516.0    2516.0    2516.0
                   Massachusetts          20068.0   20068.0   20068.0
                   New Hampshire           1450.0    1450.0    1450.0
                   Rhode Island            1101.0    1101.0    1101.0
                   Vermont                 1291.0    1291.0    1291.0
Pacific            Alaska                  2016.0    2016.0    2016.0
                   California            129972.0  129972.0  129972.0
                   Hawaii                  6530.0    6530.0    6530.0
                   Oregon                 14476.0   14476.0   14476.0
                   Washington             22304.0   22304.0   22304.0
South Atlantic     Delaware                1082.0    1082.0    1082.0
                   District of Columbia    6904.0    6904.0    6904.0
                   Florida                31030.0   31030.0   31030.0
                   Georgia                 9499.0    9499.0    9499.0
                   Maryland                7144.0    7144.0    7144.0
                   North Carolina          9268.0    9268.0    9268.0
                   South Carolina          3933.0    3933.0    3933.0
                   Virginia                5975.0    5975.0    5975.0
                   West Virginia           1243.0    1243.0    1243.0
West North Central Iowa                    2749.0    2749.0    2749.0
                   Kansas                  2216.0    2216.0    2216.0
                   Minnesota               7243.0    7243.0    7243.0
                   Missouri                5883.0    5883.0    5883.0
                   Nebraska                2421.0    2421.0    2421.0
                   North Dakota             542.0     542.0     542.0
                   South Dakota            1159.0    1159.0    1159.0
West South Central Arkansas                2712.0    2712.0    2712.0
                   Louisiana               3059.0    3059.0    3059.0
                   Oklahoma                3871.0    3871.0    3871.0
                   Texas                  25310.0   25310.0   25310.0

                                        pc_individuals
                                                   min    median       max
region             state
East North Central Illinois                   0.634408  0.634408  0.634408
                   Indiana                    0.718144  0.718144  0.718144
                   Michigan                   0.623758  0.623758  0.623758
                   Ohio                       0.676066  0.676066  0.676066
                   Wisconsin                  0.558386  0.558386  0.558386
East South Central Alabama                    0.748398  0.748398  0.748398
                   Kentucky                   0.741594  0.741594  0.741594
                   Mississippi                0.757396  0.757396  0.757396
                   Tennessee                  0.778764  0.778764  0.778764
Mid-Atlantic       New Jersey                 0.643541  0.643541  0.643541
                   New York                   0.433387  0.433387  0.433387
                   Pennsylvania               0.604130  0.604130  0.604130
Mountain           Arizona                    0.735834  0.735834  0.735834
                   Colorado                   0.700654  0.700654  0.700654
                   Idaho                      0.644632  0.644632  0.644632
                   Montana                    0.699644  0.699644  0.699644
                   Nevada                     0.935578  0.935578  0.935578
                   New Mexico                 0.764014  0.764014  0.764014
                   Utah                       0.662031  0.662031  0.662031
                   Wyoming                    0.679186  0.679186  0.679186
New England        Connecticut                0.573441  0.573441  0.573441
                   Maine                      0.576312  0.576312  0.576312
                   Massachusetts              0.339396  0.339396  0.339396
                   New Hampshire              0.575862  0.575862  0.575862
                   Rhode Island               0.678474  0.678474  0.678474
                   Vermont                    0.604183  0.604183  0.604183
Pacific            Alaska                     0.711310  0.711310  0.711310
                   California                 0.838704  0.838704  0.838704
                   Hawaii                     0.632619  0.632619  0.632619
                   Oregon                     0.769481  0.769481  0.769481
                   Washington                 0.736370  0.736370  0.736370
South Atlantic     Delaware                   0.654344  0.654344  0.654344
                   District of Columbia       0.546060  0.546060  0.546060
                   Florida                    0.691041  0.691041  0.691041
                   Georgia                    0.730919  0.730919  0.730919
                   Maryland                   0.687850  0.687850  0.687850
                   North Carolina             0.696051  0.696051  0.696051
                   South Carolina             0.783626  0.783626  0.783626
                   Virginia                   0.657406  0.657406  0.657406
                   West Virginia              0.821400  0.821400  0.821400
West North Central Iowa                       0.622408  0.622408  0.622408
                   Kansas                     0.651173  0.651173  0.651173
                   Minnesota                  0.551291  0.551291  0.551291
                   Missouri                   0.641849  0.641849  0.641849
                   Nebraska                   0.720777  0.720777  0.720777
                   North Dakota               0.861624  0.861624  0.861624
                   South Dakota               0.721311  0.721311  0.721311
West South Central Arkansas                   0.840708  0.840708  0.840708
                   Louisiana                  0.830337  0.830337  0.830337
                   Oklahoma                   0.729269  0.729269  0.729269
                   Texas                      0.758554  0.758554  0.758554

In [131]:
df.groupby('region').aggregate({"individuals":"min","family_members":"max","state_pop":"mean"})

                    individuals  family_members     state_pop
region
East North Central       2740.0          3891.0  9.377277e+06
East South Central       1024.0          1744.0  4.775371e+06
Mid-Atlantic             6048.0         52070.0  1.373910e+07
Mountain                  434.0          3250.0  3.063968e+06
New England               747.0         13257.0  2.471554e+06
Pacific                  1434.0         20964.0  1.066462e+07
South Atlantic            708.0          9587.0  7.247736e+06
West North Central        467.0          3250.0  3.050034e+06
West South Central       2280.0          6111.0  1.005958e+07

In [132]:
df_enc=df[df["region"]=="East North Central"]

In [133]:
df_enc.head()

,region,state,individuals,family_members,state_pop,total,pc_individuals
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0,0.634408
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0,0.718144
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0,0.623758
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0,0.676066
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0,0.558386

In [134]:
df.head()

,region,state,individuals,family_members,state_pop,total,pc_individuals
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.748398
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.711310
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.735834
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.840708
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704

In [135]:
# Calcular el porcentaje de individuos y agregarlo como nueva columna
df['pct_individuals'] = df['individuals'] / df['total']
df

,region,state,individuals,family_members,state_pop,total,pc_individuals,pct_individuals
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.748398,0.748398
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.711310,0.711310
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.735834,0.735834
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.840708,0.840708
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704,0.838704
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0,0.700654,0.700654
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0,0.573441,0.573441
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0,0.654344,0.654344
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.546060,0.546060
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0,0.691041,0.691041
10,South Atlantic,Georgia,6943.0,2556.0,10511131,9499.0,0.730919,0.730919
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.632619,0.632619
12,Mountain,Idaho,1297.0,715.0,1750536,2012.0,0.644632,0.644632
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0,0.634408,0.634408
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0,0.718144,0.718144
15,West North Central,Iowa,1711.0,1038.0,3148618,2749.0,0.622408,0.622408
16,West North Central,Kansas,1443.0,773.0,2911359,2216.0,0.651173,0.651173
17,East South Central,Kentucky,2735.0,953.0,4461153,3688.0,0.741594,0.741594
18,West South Central,Louisiana,2540.0,519.0,4659690,3059.0,0.830337,0.830337
19,New England,Maine,1450.0,1066.0,1339057,2516.0,0.576312,0.576312
20,South Atlantic,Maryland,4914.0,2230.0,6035802,7144.0,0.687850,0.687850
21,New England,Massachusetts,6811.0,13257.0,6882635,20068.0,0.339396,0.339396
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0,0.623758,0.623758
23,West North Central,Minnesota,3993.0,3250.0,5606249,7243.0,0.551291,0.551291
24,East South Central,Mississippi,1024.0,328.0,2981020,1352.0,0.757396,0.757396
25,West North Central,Missouri,3776.0,2107.0,6121623,5883.0,0.641849,0.641849
26,Mountain,Montana,983.0,422.0,1060665,1405.0,0.699644,0.699644
27,West North Central,Nebraska,1745.0,676.0,1925614,2421.0,0.720777,0.720777
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.935578,0.935578
29,New England,New Hampshire,835.0,615.0,1353465,1450.0,0.575862,0.575862
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,9398.0,0.643541,0.643541
31,Mountain,New Mexico,1949.0,602.0,2092741,2551.0,0.764014,0.764014
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.433387,0.433387
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,9268.0,0.696051,0.696051
34,West North Central,North Dakota,467.0,75.0,758080,542.0,0.861624,0.861624
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0,0.676066,0.676066
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3871.0,0.729269,0.729269
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.769481,0.769481
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,13512.0,0.604130,0.604130
39,New England,Rhode Island,747.0,354.0,1058287,1101.0,0.678474,0.678474
40,South Atlantic,South Carolina,3082.0,851.0,5084156,3933.0,0.783626,0.783626
41,West North Central,South Dakota,836.0,323.0,878698,1159.0,0.721311,0.721311
42,East South Central,Tennessee,6139.0,1744.0,6771631,7883.0,0.778764,0.778764
43,West South Central,Texas,19199.0,6111.0,28628666,25310.0,0.758554,0.758554
44,Mountain,Utah,1904.0,972.0,3153550,2876.0,0.662031,0.662031
45,New England,Vermont,780.0,511.0,624358,1291.0,0.604183,0.604183
46,South Atlantic,Virginia,3928.0,2047.0,8501286,5975.0,0.657406,0.657406
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.736370,0.736370
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1243.0,0.821400,0.821400
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0,0.558386,0.558386
50,Mountain,Wyoming,434.0,205.0,577601,639.0,0.679186,0.679186

In [136]:
df["grupo"]=np.where(df["pc_individuals"]>0.5,"grupo >0.5","grupo<=0.5")
df

,region,state,individuals,family_members,state_pop,total,pc_individuals,pct_individuals,grupo
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.748398,0.748398,grupo >0.5
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.711310,0.711310,grupo >0.5
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.735834,0.735834,grupo >0.5
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.840708,0.840708,grupo >0.5
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.838704,0.838704,grupo >0.5
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0,0.700654,0.700654,grupo >0.5
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0,0.573441,0.573441,grupo >0.5
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0,0.654344,0.654344,grupo >0.5
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.546060,0.546060,grupo >0.5
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0,0.691041,0.691041,grupo >0.5
10,South Atlantic,Georgia,6943.0,2556.0,10511131,9499.0,0.730919,0.730919,grupo >0.5
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.632619,0.632619,grupo >0.5
12,Mountain,Idaho,1297.0,715.0,1750536,2012.0,0.644632,0.644632,grupo >0.5
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0,0.634408,0.634408,grupo >0.5
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0,0.718144,0.718144,grupo >0.5
15,West North Central,Iowa,1711.0,1038.0,3148618,2749.0,0.622408,0.622408,grupo >0.5
16,West North Central,Kansas,1443.0,773.0,2911359,2216.0,0.651173,0.651173,grupo >0.5
17,East South Central,Kentucky,2735.0,953.0,4461153,3688.0,0.741594,0.741594,grupo >0.5
18,West South Central,Louisiana,2540.0,519.0,4659690,3059.0,0.830337,0.830337,grupo >0.5
19,New England,Maine,1450.0,1066.0,1339057,2516.0,0.576312,0.576312,grupo >0.5
20,South Atlantic,Maryland,4914.0,2230.0,6035802,7144.0,0.687850,0.687850,grupo >0.5
21,New England,Massachusetts,6811.0,13257.0,6882635,20068.0,0.339396,0.339396,grupo<=0.5
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0,0.623758,0.623758,grupo >0.5
23,West North Central,Minnesota,3993.0,3250.0,5606249,7243.0,0.551291,0.551291,grupo >0.5
24,East South Central,Mississippi,1024.0,328.0,2981020,1352.0,0.757396,0.757396,grupo >0.5
25,West North Central,Missouri,3776.0,2107.0,6121623,5883.0,0.641849,0.641849,grupo >0.5
26,Mountain,Montana,983.0,422.0,1060665,1405.0,0.699644,0.699644,grupo >0.5
27,West North Central,Nebraska,1745.0,676.0,1925614,2421.0,0.720777,0.720777,grupo >0.5
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.935578,0.935578,grupo >0.5
29,New England,New Hampshire,835.0,615.0,1353465,1450.0,0.575862,0.575862,grupo >0.5
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,9398.0,0.643541,0.643541,grupo >0.5
31,Mountain,New Mexico,1949.0,602.0,2092741,2551.0,0.764014,0.764014,grupo >0.5
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.433387,0.433387,grupo<=0.5
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,9268.0,0.696051,0.696051,grupo >0.5
34,West North Central,North Dakota,467.0,75.0,758080,542.0,0.861624,0.861624,grupo >0.5
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0,0.676066,0.676066,grupo >0.5
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3871.0,0.729269,0.729269,grupo >0.5
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.769481,0.769481,grupo >0.5
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,13512.0,0.604130,0.604130,grupo >0.5
39,New England,Rhode Island,747.0,354.0,1058287,1101.0,0.678474,0.678474,grupo >0.5
40,South Atlantic,South Carolina,3082.0,851.0,5084156,3933.0,0.783626,0.783626,grupo >0.5
41,West North Central,South Dakota,836.0,323.0,878698,1159.0,0.721311,0.721311,grupo >0.5
42,East South Central,Tennessee,6139.0,1744.0,6771631,7883.0,0.778764,0.778764,grupo >0.5
43,West South Central,Texas,19199.0,6111.0,28628666,25310.0,0.758554,0.758554,grupo >0.5
44,Mountain,Utah,1904.0,972.0,3153550,2876.0,0.662031,0.662031,grupo >0.5
45,New England,Vermont,780.0,511.0,624358,1291.0,0.604183,0.604183,grupo >0.5
46,South Atlantic,Virginia,3928.0,2047.0,8501286,5975.0,0.657406,0.657406,grupo >0.5
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.736370,0.736370,grupo >0.5
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1243.0,0.821400,0.821400,grupo >0.5
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0,0.558386,0.558386,grupo >0.5
50,Mountain,Wyoming,434.0,205.0,577601,639.0,0.679186,0.679186,grupo >0.5